.relative {
    background-color: azure;
}

.hidden.xl\:block {
    font-family: monospace;
}

ul.mb-4 {
    font-family: monospace;
}

.z-10.bg-background.font-title.text-base.font-normal.sticky.top-0 {
    background-color: lightblue;
}
