.relative {
    background-color: azure;
}

.hidden.xl\:block {
    font-family: monospace;
}

ul.mb-4 {
    font-family: monospace;
}

.z-10.bg-background.font-title.text-base.font-normal.sticky.top-0 {
    background-color: lightblue;
}

.flex.w-full.flex-col {
    font-family: monospace;
}

.flex.items-center.space-x-2 {
    font-family: monospace;
}

.sm\:pt-24lg\:pt-32.pb-\[60px\].pt-16.sm\:pb-8 {
    background-color: azure;
}
