.bg-background {
    background: #e0ffff !important;
    font-family: monospace !important;
}

.hidden.xl\:block {
    font-family: monospace;
}

.nav.font-title.text-sm.font-normal.text-primary-subtle {
    font-family: monospace;
}
